*
{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section.dark
{
    background-color: #161623;
}

section::before
{
    content: '';
    position: absolute;
    width: 240px;   
    height: 240px;
    background: linear-gradient(#f3f5f5, #9c27be);
    border-radius: 50%;
    transform: translate(-150px, -100px);
}

section.dark::before
{
    background: linear-gradient(#ffc107, #e91e63);
}

section::after
{
    content: '';
    position: absolute;
    width: 240px;   
    height: 240px;
    background: linear-gradient(#ff2d71, rgba(255, 40, 113, 0.2));
    border-radius: 50%;
    transform: translate(150px,  150px);
}

section.dark::after
{
    background: linear-gradient(#2196f3, #31ff38);
}

section.dark .batteryShape
{
    border: 3px solid #fff;
}

.dark .box h3
{
    color: #fff;
}

.box
{
    position: absolute;
    width: 240px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    z-index: 1;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(25px);
    border-radius: 10px;
}

section.dark .batteryShape::before
{
    background-color: #fff;
}

.content
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box h3
{
    color: #9d2cb1; 
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.percent
{
    color: #fe3177;
    font-size: 2rem;
    font-weight: 700;
}

.dark .percent
{
    color: #fff;
}

.batteryShape
{
    position: relative;
    width: 140px;
    height: 65px;
    border: 3px solid #333;
    border-radius: 10px;
}

.batteryShape::before
{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 7px;
    right: -12px;
    height: 16px;
    background-color: #333;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.batteryShape::after
{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.level
{
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-radius: 4px;
    overflow: hidden;
}

.percentage
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: linear-gradient(90deg, #9c28af, #fd2c72);
    border-radius: 4px;;
}

section.dark .percentage
{
    background: linear-gradient(90deg, #effeb3, #27ff00);
}

.toggle
{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #161623;
    border-radius: 50%;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.far
{
    color: #fff;
}

.toggle::before
{
    content: '';
    color: #fff    
}

.dark .toggle
{
    background-color: #161623;
}