*
{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 2vw;
}

body
{
	font-family: cursive;
}
.container
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

.container button
{
	padding: 10px 15px;
	background-color: #000;
	color: #fff;
	font-size: 2.5vw;
	border-radius: 5px;

	border: none;
	outline: none;
}

button:hover
{
	background-color: green;
}

button:active
{
	color: #333;
}
