*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px 0;
	transform-style: preserve-3d;
}

.container .box
{
	position: relative;
	width: 450px;
	height: 300px;
	margin: 60px 0;
	background: #000;
	transform-style: preserve-3d;
}

.container .box:hover
{
	box-shadow: 0 50px 90px rgba(0, 0, 0, 0.3);
}

.container .img-box
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.container img
{

	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .content-box
{
	position: absolute;
	top: 50%;
	left: 50px;
	right: 50px;
	padding: 40px 25px;
	background: #fff;
	transform: translateZ(20px) scaleY(0);
	transform-origin: top;
	transition: .5s;
	transform-style: preserve-3d;
	z-index: 1000;
}

.container .box:hover .content-box
{
	transform: translateZ(20px) scaleY(1);
}