:root
{
	--mainWhite: #f2fdff;
	--mainBlue: #3e92cc;
}

.container
{
	width: 60vw;
	border: 10px solid #bfdaaa;
	min-height: 400px;
	height: 75vh;
	margin: 60px auto;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*outline: 25px solid #bfdaaa;*/

}

.icon-left, .icon-right
{
	font-size: 1.2rem;
	position: absolute;
	display: inline-block;
	border-radius: 10px;
	width: 50px;
	padding: 10px 0;
	text-align: center;
	background-color: var(--mainBlue);
	border: 0.2rem solid var(--mainBlue);
	transition: .3s all;
}

.img-container
{
	width: 100%;
	height: 100%;
}

.img-container img
{
	height: 100%;
	width: 100%;
}

a
{
	color: white;
}

.icon-left
{
	right: 97.5%;
}

.icon-right
{
	left: 97.5%;
}

.icon-left:hover a, .icon-right:hover a
{
	color: var(--mainBlue);
}

.icon-left:hover, .icon-right:hover
{
	background-color: var(--mainWhite);
}
