*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #154367;
    overflow: hidden;
}

.navigation
{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #fff;
    transition: width .5s, height .5s;
    transition-delay: 0s, .75s;
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
}

.navigation.active
{
    width: 250px;
    height: 350px;
    transition: width .5s, height .5s;
    transition-delay: 0s, .75s;
}

.navigation .toggle
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ff4001;
    transition: .5s;
    cursor: pointer;
}

.navigation .toggle::before
{
    content: '+';
    position: absolute;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #fff;
    font-weight: 400;
    transition: .5s;
}

.navigation .toggle.active
{
    background-color: #2196f3;
}

.navigation .toggle.active::before
{
    transform: rotate(315deg);
}

.navigation ul
{
    position: absolute;    
    left: 0;
    width: 100%;
}

.navigation ul li
{
    position: relative;
    list-style: none;
    width: 100%;
}

.navigation ul li:hover
{
    background-color: #eee;
}

.navigation ul li a
{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #154367;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.navigation ul li a .icon .fas
{
    font-size: 24px;
    color: #154367;
}

.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    line-height: 50px;
    text-align: start;
    white-space: nowrap;
}