*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    color: #555;
}

body
{
	background-image: linear-gradient(90deg , yellow, #06748F);
	height: 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.controls h1
{
	padding-bottom: 7px;
	font-size: 5rem;
	margin: 30px 0;
	background-image: linear-gradient(45deg, #323, #4343);
	background-position: 0 100%;
	background-size: 0% 7px;
	background-repeat: no-repeat;
	transition: background-size 0.3s,
    			background-position 0s 0.3s;
    color: #092823;
}

h1:hover, h1:active
{
	background-position: 100% 100%;
	background-size: 100% 7px;
}

.controls
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.addIcon
{
	position: relative;
}

.addIcon i
{
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	font-size: 40px;
}

i:hover, i:active
{
	transform: scale(1.1);
	top: 29%;
}

i:active
{
	color: #333;
}

input[type='text']
{
	font-size: 2rem;
	border-radius: 4px;
	outline: none;
	min-width: 500px;
	width: 500px;
	background-color: #c5c5c5;
	transition: width .5s;
	padding-top: 20px;
	padding-left: 40px;
	padding-bottom: 20px;
	padding-right: 55px;
}

input[type='text']:focus
{
	width: 50vw;
}

input[type='checkbox']
{
	width: 100%;
}

button
{
	padding: 20px 30px;
	outline: none;
	border: 2px solid #aaa;
	transition: border .7s,
				background-color .2s;
	cursor: pointer;
	box-shadow: 7px 8px 5px #555;
	font-family: 'Tahoma', sans-serif;
}

button:hover
{
	border: 2px solid #666;
	background-color: #8ac8cb;
}

button:active
{
	transform: translate(7px, 8px);
	border: 2px solid #666;
	box-shadow: 0px 0px;
}

.container > .container
{
	display: grid;
}

.removeTodo, .addTodo, .clearTodo
{
	margin: 20px 10px;
}

.clearTodo:hover
{
	background-color: #daa2a2;
}

.listTodo
{
	border: 3px solid #000;
	margin: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}


.cardTodo
{
	width: auto;
	min-width: 300px;
	height: auto;
	letter-spacing: 2px;
	min-height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 20px 10px;
	border: 2px solid #ccc;
	transition: all .3s;
	background-color: #8ac8cb;
	border: 2px solid #ccc;
	border-radius: 2px;
}

input[type = 'checkbox']
{
	transform: scale(2);
	width: 50%;
	height: 50%;
}

.cardTodo label
{
	display: block;
	opacity: 1 !important;
	transition: opacity 1s;
	text-align: center;
	color: #222;
	line-height: 2;
	font-size: 20px;
}

.cardTodo:hover
{
	box-shadow: -8px 10px #220;
	transform: translate(5px, -5px);
}

hr
{
	margin: 20px 10px;
	width: 95%;
	border-radius: 3px;
	outline: none;
	border: none;
	display:block;
	color: #000;
	background-color: #000;
	height: 6px;
}